@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body{
    font-family: 'Tektur', cursive;
    background-color: rgb(45, 1, 54);
    color: white;
    display: flex;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}

/************************
*   Positioning
************************/
.todo-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 5rem 0;
    width: 85vw;
    gap: 1.3rem 0;
}
.todo-task{
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    overflow: hidden;
}
.todo-task span {
    flex-grow: 1;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin-right: 1.5rem;
}

.todo-task div {
    display: flex;
    gap: 0.5rem;
}
.todo-task-inputter{
    width: 65vw;
    padding: 0.3rem 1rem;
}
.todo-input-form > div{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.todo-input-form{
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-input-form button{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
/************************
*   Styles
************************/
.todo-body{
    background-color: rgb(31, 31, 31);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px;
}
.todo-pending-tasks{
    font-size: 3rem;
    text-align: center;
}
.todo-input-form button{
    padding: 0.3rem 5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
}
.todo-task-inputter{
    border: 1px solid white;
    border-radius: 5px;
}
.todo-task-name{
    display: flex;
    flex-direction: column;
}
.time-input-warning{
    color: red;
    text-align: center;
}
.invalid{
    border: 1px solid red;
}
.task-time{
    font-size: 0.7rem;
}
.todo-task{
    border: 3px solid white;
    border-radius: 5px;
    padding: 1.5rem;
}
.todo-task span{
    font-size: 1.3rem;
}

.completeTask, .deleteTask{
    padding: 0.1rem 0.5rem;
    border: none;
}
.completeTask{
    background-color: rgb(1, 155, 22);
}

.deleteTask{
    background-color: red;
}

.complete{
    text-decoration: line-through;
    color: white;
}
.complete-task{
    background-color: rgb(4, 126, 15);
}
.complete-button{
    background-color: rgb(31, 31, 31);
}




.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.copyright{
    font-size: 0.7rem;
    margin-top: 0rem;
    text-align: center;
}

@media(min-width: 768px){
    .todo-body{
        width: 50vw;
       
    }
    .todo-task{
        width: 40vw;
    }
    .todo-task-inputter{
        width: 35vw;
    }
}
@media(min-width: 1440px){
    .todo-body{
        width: 30vw;
       
    }
    .todo-task{
        width: 25vw;
    }
    .todo-task-inputter{
        width: 20vw;
    }
}